.column {
  display: flex;
  flex-direction: column;
}

.main {
  max-width: 512px;
}
.row {
  display: flex;
  flex-direction: row;
}

.image-stack {
  display: grid;
  height: 512px;
  width: 512px;
  transition: filter 0.25s;
}

h3 {
  margin: 0.25em 0;
}

h4 {
  margin: 0.5em 0;
}

.code-block {
  margin-left: 20px;
  max-width: 500px;
 }
body {
  margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    align-content: flex-start;
    flex-direction: column;
  padding: 20px;
  background: linear-gradient(
    45deg,
    #ffe5e5,
    #ffd6e7,
    #e5d6ff,
    #d6e2ff,
    #d6faff
  );
}

button {
  margin-right: 10px;
}

.image-stack > * {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  width: 100%; /* Adjust as necessary */
  height: 100%; /* Adjust as necessary */
  position: relative; /* Ensure z-index works */
}

.action {
  cursor: pointer;
  background-color: #ffffe5;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

.scenario.active div {
max-height: fit-content;
margin: 10px 0;

}
.scenario div {
  max-height: 0;
  overflow-y: hidden;
  max-width: 800px;
}

.scenario.active h3 {
  color: hotpink;
  text-decoration: none;
}

.scenario h3 {
  cursor: pointer;
  text-decoration: underline;
}

textarea {
  min-height: 5em;
  min-width: 24em;
}